@model BTVN_B5_5.Models.CartItem

@{
    ViewBag.Title = "ConfirmOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfirmOrder</h2>

<h2>Đơn hàng của quý khách đã được ghi nhận. Chúng tôi lên hệ quý khách trong thời gian sớm nhất</h2>
<p>
    @Html.ActionLink("Về Trang Chủ", "Index", "Home")
</p>